{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1 >Usuarios</h1>
    {% for usuario in lista_usuarios %}
            <div class="container mt-5 d-flex justify-content-center">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                        <div class="image pe-1">
                    <img src="{{ url_for('static', filename='profile_pictures/{}'.format(usuario.profile_picture)) }}" class="rounded" width="200" >
                    </div>
                    <div class="ml-3 w-100">
                       <h4 class="mb-0 mt-0">{{ usuario.username }}</h4>
                       <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                        <div class="d-flex flex-column">
                            <span class="articles">Games</span>
                            {% if  'Not Informed' in usuario.games %}
                                <span class="number1">0</span>
                            {% elif usuario.games == '' %}
                                <span class="number1">0</span>
                            {% else %}
                                <span class="number1">{{ usuario.games.count(';') +1 }}</span>
                            {% endif %}
                        </div>
                        <div class="d-flex flex-column">
                            <span class="rating">Posts</span>
                            <span class="number3">{{ usuario.count_posts() }}</span>
                        </div>
                       </div>

                    </div>
                    </div>
                </div>
             </div>
        <div class="row justify-content-center">
            <div class="col-3" style="text-align: center">
                <strong>Games</strong><br>
                    {% for game in usuario.games.split(';') %}
                        <button type="button" class="btn btn-dark mt-3" disabled>{{ game }}</button>
                    {% endfor %}
        </div>
</div>
    {% endfor %}
</div>

<div class="row mt-5"></div>

{% endblock %}